@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}



body {
    padding: 0px !important;
    margin: 0px !important;
}



/* Zeeshan */
  .reviews  {
    margin: 0px !important;
  }

  .heading-img-width {
    width: 70px;
    height: auto;
    margin-left: 5px;
    margin-bottom: 15px;
    background: transparent;
  }

  /* Image styling of reviews section */
  .image-styling {
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  .image-border-style {
    margin: auto !important;
  }
  @media (min-width: 992px) {
    .image-border-style {
      margin: 0 10px !important;
      padding: 0 !important;
    }
  }

  .review-sec-border{
    
    border: 2px solid #636ce4!important;
    border-radius: 20px;
  }
  /* Get started container styling */

  .get-started-container {
    border: 6px solid #636ce4;
    border-radius: 40px;
    max-width: 100%;
    height: auto;
  }
  /* Custom styles for LG screens and above */
  @media (min-width: 992px) {
    .get-started-container {
      width: 900px;
    }
  }
  .getstarted-img-width1 {
    width: 150px;
  }
  .getstarted-img-width2 {
    width: 50px;
  }
  /* Try yourself section styling */
  .tryyourself-heading {
    font-size: 42px;
    font-weight: bold;
  }
  .bot-img-width {
    width: 70px;
    margin-left: 5px;
    margin-bottom: 15px;
    background: transparent;
    transition: transform 0.3s ease;
  }
  .bot-img-width:hover {
    cursor: pointer !important;
    transform: scale(1.2); /* Adjust the scale factor as needed */
  }
  @media (min-width: 992px) {
    .tryyourself-heading {
      font-size: 70px;
    }
  }
  .tryyourself-border {
    border: 6px solid #636ce4;
    border-radius: 40px;
  }
  .quiz-img-width {
    width: 140px;
    height: 100px;
  }
  input[type="radio"]:checked {
    background-color: #13D155;
    border: 0px;
  }
  /* Login page styling start from here */
  .form-width{
    max-width: 500px;
  }
 
  input::placeholder {
    color: rgb(224, 209, 209) !important;
    cursor: pointer;
   
  }
  @media (min-width: 992px) {

    .col-lg-4 {
      max-width: 30.333333% !important;
    }
  }